
    <h1><%= title %></h1>
    <p>Welcome to <em><%= title %><em>, the one-stop shop for all your drink mixing needs!</p>

    <p>Current Drink Count:</p>

    <ul>
      <li><strong>Drinks Saved: </strong><%= drink_count %></li>
    </ul>
  

